$primary: #F47139;
$primary-light: #F78B5E;
$primary-dark: #DE4A0C;
$primary-r: 244;
$primary-g: 113;
$primary-b: 57;
$box-shadow-1: 10px 10px #00000012;
$box-shadow-2: 7px 7px #00000012;
$box-shadow-3: 4px 4px #00000012;
$border: 1px solid $primary;
$background: #f6f7f9;
$background-secondary: #e0e0e0;
$background-dark: #212121;
$error: #e57373;
$red: #e57373;
$blue: #90caf9;
$green: #a5d6a7;
$green-dark: #75a478;
$yellow: #ffee58;