@import '../../assets/style/theme.scss';

.form {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;

    &-group {
        display: inline-flex;
        flex-wrap: wrap;   
        .title {
            margin-block-start: 0;
            margin-block-end: 20px;
        } 
    }

    /*-------------------------*/
    /*BUTTON STYLES*/

    button {
        &:focus {
            outline: none;
        }
        &:disabled {
            filter: grayscale(1);
        }
    }

    // SIMPLE
    .simple-button {
        width: 30%;
        margin: 0 35%;
        padding: 10px;
        border: 1px solid $primary;
        color: $primary;
        background-color: white;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 5px;
        transition: .2s;
        &:hover {
            color: white;
            background-color: $primary;
        }
    }

    .form-buttons {
        width: 100%;
        display: inline-flex;
        .simple-button {
            margin: 0 10%;
        }
    }
    .simple-button {
        color: $blue;
        border: 1px solid $blue;
        &:hover {
            background-color: $blue;
            color: #fff;
        }
        &.cancel {
            color: $red;
            border: 1px solid $red;
            &:hover {
                background-color: $red;
                color: #fff;
            }
        }
    }

    // CircleArrow
    @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
        transition: $property $duration $ease;
    }
    .circle-arrow {
        &-container {
            width: 100%;
        }
        &-button {
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            text-decoration: none;
            background: transparent;
            padding: 0;
            width: 12rem;
            height: auto;
            position: relative;
            margin: 0 calc(50% - 6rem);
            transition: .2s;
            &:disabled {
                cursor: not-allowed;
                opacity: .3
            }
            &:hover {
                .circle-arrow-circle {
                    width: 100%;
                    .circle-arrow-icon {
                        background: white;
                        transform: translate(1rem, 0);
                    }
                }
                .circle-arrow-text {
                    color: white;
                }
            }
        }
        &-circle {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: $background-dark;
            border-radius: 1.625rem;
        }
        &-icon {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: white;
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
                position: absolute;
                content: '';
                top: -0.31rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
            }
        }
        &-text {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: $background-dark;
            font-weight: 700;
            line-height: 1.9;
            text-align: center;
            text-transform: uppercase;
        }
    }
    /*-------------------------*/
}